<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DialogTranslations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DialogTranslations.Properties.Settings>
            <setting name="EnglishDirectory" serializeAs="String">
                <value>C:\Users\E142890\PanSystem\Languages\English\PanSysData\Text Files</value>
            </setting>
            <setting name="TranslationDirectory" serializeAs="String">
                <value>C:\Users\E142890\PanSystem\Languages\Espanol\PanSysData\Text Files</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>C:\Users\E142890\Documents\TranslationStrings.csv</value>
            </setting>
            <setting name="CompleteEnglishDirectory" serializeAs="String">
                <value>C:\Users\E142890\PanSystem\Pan1\Reservoir\Pan4.0.8\Resource files</value>
            </setting>
            <setting name="CompleteTranslationDirectory" serializeAs="String">
                <value>C:\Users\E142890\PanSystem\Pan1\Reservoir\Pan4.0.8\Resource files</value>
            </setting>
        </DialogTranslations.Properties.Settings>
    </userSettings>
</configuration>