<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfPressurePlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WpfPressurePlotter.Properties.Settings>
            <setting name="LasFile" serializeAs="String">
                <value>C:\Users\E142890\Documents\LAS Files\REP[1].las</value>
            </setting>
            <setting name="LastPngFile" serializeAs="String">
                <value>C:\Users\E142890\Documents\Iceland.PNG</value>
            </setting>
        </WpfPressurePlotter.Properties.Settings>
    </userSettings>
</configuration>
